<div class="dashboard-section">
    <div class="user-dashboard">
        <%- include('../message/message.ejs') %>
        <h1>Short Link Service</h1>
        <div class="service-box">
            <form action="/guestLinkShorter" method="POST">
                <input type="text" class="primary-input" name="longUrl" placeholder="For User Shorten Your link">
                <button class="primary-btn" type="submit">Shorten</button>
            </form>
        </div>
    </div>
</div>