<% if(typeof errors != 'undefined'){ %> 
    <% errors.forEach((error) => { %> 
       <div class="alert-box error">
            <p><%= error.msg %></p>
       </div>
    <% }); %>
<% } %>


<% if(success_msg != '') { %>
    <div class="alert-box success">
        <p><%= success_msg %></p> 
    </div>
<% }; %>

<% if(error_msg != '') { %>
    <div class="alert-box error">
        <p><%= error_msg %></p>
    </div>
<% }; %>
